packaging
clipboard
esipy
pyswagger
pyglet
beautifulsoup4
certifi
chardet
Click
future
get
idna
Jinja2
MarkupSafe
playsound
post
public
pyglet
PyQt5
PyQt5-sip
PyQt5-stubs
pyqt5-tools
PyQt5Designer
PyQtWebEngine
python-dotenv
query-string
requests
six
soupsieve
urllib3
